header {
  background: url("../assets/images/banner-1.png");
  background-size: cover;
  background-position: bottom;
  min-height: 93rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

    .logo-bar {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 2rem;
      }
    }
    .header-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      margin-top: 15rem;

      &_text {
        h1 {
          font-family: "Open Sans", sans-serif;
          font-size: 6rem;
          font-weight: 700;
        }
        p {
          margin-top: 3rem;
          font-family: "Lato", sans-serif;
          font-size: 2rem;
          color: #515151;
        }
        button {
          border: none;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          color: white;
          font-size: 2rem;
          font-weight: 500;
          padding: 2rem 4rem;
          background-color: #1576a8;
          border-radius: 1.3rem;
          margin-top: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  header {
    padding-bottom: 10rem;
    .container {
      width: 90%;

      .header-content {
        margin-top: 7rem;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .container {
      .header-content {
        grid-template-columns: 1fr;
        width: 70%;

        div:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  header {
    .container {
      .header-content {
        width: 80%;
        &_text {
          h1 {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
