*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%
}

body {
    box-sizing: border-box;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    // overflow: scroll;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $color-primary;
    font-size: 4rem;
}